<div class="container-fluid mb-5">
  <!-- Top section -->
  <div class="row">
    <div class="container-fluid">
      <div class="row">
          <ul class="nav nav-pills fixed-top navbar-light bg-white justify-content-end mb-2 pt-2 pr-5 pl-2">
            <li class="nav-item">
              <a class="nav-link nav-bar-font" href="#">MODULES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-bar-font" href="#">SUPPORT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link try-now active" href="#">TRY NOW</a>
            </li>
          </ul>
      </div>
      <div class="row m-2 mt-5">
          <div class="col-6">
            <!-- Master data management -->
          </div>
          <div class="col-6">
            <!-- Login section -->
            <div class='row'>
              <div class='col'></div>
              <div class='col'>
                <!-- login box -->
                <div class='card card-change'>
                  <div class="button-align">
                    <img src="../../assets/penta_logo.svg" alt='penta logo'/>
                  </div>
                  <div class="card-body">
                   <form>
                    <div class='form-group place-holder-text'>
                      <input type='text' class='form-control mb-3' id='user-name' placeholder="User Name">
                      <input type='text' class='form-control mb-3' id='user-name' placeholder="Password">
                      <input type='text' class='form-control mb-3' id='user-name' placeholder="Company">
                      <input type='text' class='form-control mb-3' id='user-name' placeholder="Plant">
                      <div class="button-align">
                        <button type="button" class="btn login-button">LOG IN</button>
                      </div>
                    </div>
                   </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Top section -->
  <!-- Bottom section -->
    <div class="row bottom-section-background">
      <div class="container-fluid">
        <div class="row mt-5 ml-0 mb-2">
          <div class="col-5 ml-3">
            <h1 class="bottom-title"><span class="title-weight">ONE</span> Platform. <span class="title-weight">MANY</span> Features</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid ml-5 mr-5" style="background-color: white;">
        <div class="row m-3">
          <div class="col">
            <h1 class="bottom-section-title"> MDM </h1>
          </div>
        </div>
        <div class="row">
          <div class="col bottom-section-right-border">
            <!-- contacts -->
            <div class="row">
              <div class="col-3">
                <!-- image -->
                <img src="../../assets/logo.svg" alt="">
              </div>
              <div class="col">
                <div class="mb-2 bottom-section-sub-title">
                  CONTACTS
                </div>
                <div class="bottom-section-sub-content">
                  Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum
                </div>
              </div>
            </div>
          </div>
          <div class="col bottom-section-right-border">
            <!-- devices -->
            <div class="row">
              <div class="col-3">
                <!-- image -->
                <img src="../../assets/logo.svg" alt="">
              </div>
              <div class="col">
                <div class="mb-2 bottom-section-sub-title">
                  DEVICES
                </div>
                <div class="bottom-section-sub-content">
                  Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <!-- module A -->
            <div class="row">
              <div class="col-3">
                <!-- image -->
                <img src="../../assets/logo.svg" alt="">
              </div>
              <div class="col">
                <div class="mb-2 bottom-section-sub-title">
                  MODULE A
                </div>
                <div class="bottom-section-sub-content">
                  Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 mt-4"></div>
      <div class="container-fluid ml-5 mr-5 mt-5" style="background-color: white;">
        <div class="row m-3">
          <div class="col">
            <h1 class="bottom-section-title"> ORDER MANAGEMENT </h1>
          </div>
        </div>
        <div class="row">
          <div class="col bottom-section-right-border">
            <!-- contacts -->
            <div class="row">
              <div class="col-3">
                <!-- image -->
                <img src="../../assets/logo.svg" alt="">
              </div>
              <div class="col">
                <div class="mb-2 bottom-section-sub-title">
                  CONTACTS
                </div>
                <div class="bottom-section-sub-content">
                  Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum
                </div>
              </div>
            </div>
          </div>
          <div class="col bottom-section-right-border">
            <!-- devices -->
            <div class="row">
              <div class="col-3">
                <!-- image -->
                <img src="../../assets/logo.svg" alt="">
              </div>
              <div class="col">
                <div class="mb-2 bottom-section-sub-title">
                  DEVICES
                </div>
                <div class="bottom-section-sub-content">
                  Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <!-- module A -->
            <div class="row">
              <div class="col-3">
                <!-- image -->
                <img src="../../assets/logo.svg" alt="">
              </div>
              <div class="col">
                <div class="mb-2 bottom-section-sub-title">
                  MODULE A
                </div>
                <div class="bottom-section-sub-content">
                  Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum Lorel lipsum
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Bottom section -->
</div>